In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from requests import get
%matplotlib inline

In [2]:
from keras.models import Sequential
from keras.layers import LSTM,Dropout,Dense
from sklearn.preprocessing import MinMaxScaler

In [3]:
adr = get('https://api.ipify.org').text
sourceip = "https://stat.ripe.net/data/whois/data.json?resource="+adr+"%2F24"
responseip = requests.get(sourceip).json()
#asn_code = responseip["data"]["irr_records"][0][1]["value"]
asn_code =206472

In [4]:
url = 'https://stat.ripe.net/data/bgp-update-activity/data.json?endtime=2022-04-11T12%3A00%3A00&hide_empty_samples=false&max_samples=5000&resource=AS'+str(asn_code)+'&starttime=2021-04-11T00%3A00%3A00'
r = requests.get(url)
json = r.json()
df = pd.DataFrame(json['data']['updates'])

In [5]:
df = df.drop(['withdrawals'], axis=1)
df["starttime"]=pd.to_datetime(df.starttime,format="%Y-%m-%d")

In [6]:
df["future"] = df["announcements"]

In [7]:
df =df.iloc[:-1]

In [8]:
df.head(8)

   announcements           starttime  future
0             27 2021-04-11 00:00:00      27
1             30 2021-04-11 06:00:00      30
2              5 2021-04-11 12:00:00       5
3             18 2021-04-11 18:00:00      18
4              5 2021-04-12 00:00:00       5
5             20 2021-04-12 06:00:00      20
6             45 2021-04-12 12:00:00      45
7           1566 2021-04-12 18:00:00    1566